body {
    background-color: #efefef;
}

#about,
#home,
#merchandise,
#register,
#login,
#logout {
    color: #fff;
}

#about:hover,
#home:hover,
#merchandise:hover,
#register:hover,
#login:hover,
#logout:hover {
    color: #ff1801;
}

#nav-text {
    color: #fff;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #535353;
}

.red-o {
    color: #ff1801;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #323232;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.card-img-top {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #ff1801;
}

.scale {
    width: 75%;
    height: 100%;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #3232;
    color: #445261;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 95%;
    height: 100%;
    width: 150%;
    background: #dedde1;
    -webkit-transform: skew(5deg);
    -moz-transform: skew(5deg);
    transform: skew(5deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #323232;
}

.post-link:hover,
.page-link {
    color: #ff1801!important;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: gray;
}

.btn-signup,
.btn-edit {
    background-color: #ff1801;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #ff1801;
}

.link {
    color: #ff1801;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #323232;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.btn-secondary {
    background-color: #ff1801!important;
    border-color: #ff1801!important;
    color: #fff!important;
}

.btn-secondary:hover {
    background-color: #fff!important;
    border-color: #fff!important;
    color: #ff1801!important;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

#footer {
    color: #fff;
}

#footer:hover {
    color: #ff1801;
}